body {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    padding: 0 0.5em;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  .wrap {
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  a.tab {
    margin: 0.5em;
    padding: 10px;
    display: inline-block;
    border: 1px solid;
  }
  a.tab.active {
    background: #555;
    color: #fff;
    cursor: default;
  }
  a.tab:not(.active):hover {
    background: #ccc;
  }

  .main__title {
    text-align: center;
  }

  .main__subtitle {
    text-align: center;
  }

  .main__item {
    margin: 1.5em;
  }

  .box {
    display: none;
  }
  .box.active {
    display: block;
  }
